<div class="grey-container">
    <div class="row align-items-center">
           <%= image_tag attachments['HMC-logo.png'].url, alt: 'HMC Logo', class: 'center'%>
           <h1 class='center-text'> Hughes Medical Center </h1>
    </div>
    <div class="email-body">
        
        <h1> Results Certificate </h1><br><br>
        
        <p> Dear <%= @appointment_test.appointment.first_name %>,</p>
        
        <p> Please see attached.</p><br>

        <p>Regards</p>
        <br>
        <p>Hughes Medical Center Team</p>
    </div>
</div>


