@import 'bootstrap/dist/css/bootstrap';

.app-overlay {
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),  url('https://images.unsplash.com/photo-1602542165989-999c53234fdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
    height: 355px;
    padding-top: 3rem;
}

.bg-overlay {
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),  url('https://images.unsplash.com/photo-1602542165989-999c53234fdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
    height: 520px;
    padding-top: 3rem;
}

.blue-button, .blue-button:hover, .blue-button:focus{
    background-color: #0C1561;
    color: white !important;
}

.blue-icon {
  color: #0C1561 !important;
  font-weight: normal;
}

.brand-text{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    line-height: 20px;
    height: 50px;
    font-size: 1.5rem;
    color: black;
}

html,
body {
  height: 100%;
}

.navbar-left-margin{
    margin-left: 14rem;
}

.neg-top-margin-home{
    background: white;
    padding: 2rem !important;
    margin-top: -21rem;
    
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #00022E;
} 

.test-overlay {
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),  url('https://images.unsplash.com/photo-1596978759889-91e1a654faca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
    height: 355px;
    padding-top: 3rem;
}

.u-overlay {
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),  url('https://images.unsplash.com/photo-1579684385127-1ef15d508118?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZG9jdG9yc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
    height: 355px;
    padding-top: 3rem;
}