<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .center{ display: block; margin-left: auto; margin-right: auto; width: 50%; width: 150px ;}
      .center-text{ text-align: center; padding-bottom: 20px;}
      .grey-container{ padding-top: 2em; padding-bottom: 5em; padding-left: 2em; padding-right: 2em; background-color: whitesmoke; }
      .email-body{ padding-top: 2em; padding-bottom: 5em; padding-left: 2em; padding-right: 2em; background-color: white !important; box-shadow: 2px 2px lightgray; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
